DB_URL=jdbc:postgresql://localhost:5432/fashion_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=your-email@gmail.com

AUTH_SECRET=dGhpc2lzYXZlcnlsb25nc2VjcmV0a2V5dGhhdGlzMjU2Yml0c2xvbmc=
